<%= render 'shared/header' %>
<div class="card" style=" width: 32rem; height:44rem;">
  <div class="card-body">
    <%= link_to '+', new_article_path, class:"btn btn-info" %>
  </div>
</div>

<% @articles.each do |article| %>
<div class="card" style=" width: 32rem; height:44rem;">
<div style="display: none;"><%= article.image.content_type %></div>
<% case article.image.content_type
  when /image*/ %>
    <%= image_tag((article.image.variant(resize: "300x300") if article.image.attached?),  :class => "card-img-top") %>
  <% when /video*/ %>
    <%= video_tag((url_for(article.image) if article.image.attached?), class:"card-img-top") %>
  <% when /application*/ %>
    <%= image_tag((article.image.blob.preview(resize: "300X300") if article.image.blob.previewable?), :class => "card-img-top") %>
  <% else %>
    <%= article.image.content_type %>
    <%= link_to 'Back', articles_path %>
<% end %>


  <div class="card-body">
    <h2 class="card-title" style="overflow:auto; white-space:nowrap;"><%= article.title %></h2>
    <%= link_to 'Edit', edit_article_path(article), :class => "btn btn-secondary btn-sm" %>
    <%= link_to 'X', article_path(article), method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-danger btn-sm" %><br><br>
  </div>
</div>
<% end %>
