<header>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Picture in a Pi', root_path, class:"navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-li"><%= link_to 'My Screens', controller: '/boards' %></li>
        <li class="navbar-li"><%= link_to 'Upload', new_board_path, class:"btn btn-info" %></li>
        <% if user_signed_in? %>
          <li class="navbar-li"><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
        <% else %>
          <li class="navbar-li"><%= link_to('Login', new_user_session_path) %></li>
        <% end %>

      </ul>
    </div>
  </div>
</nav>

</header>
