<%= form_with model: @board, local: true do |form| %>
  <% if  @board.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@board.errors.count, "error") %>
          prohibited this Board from being saved:
      </h2>
      <ul>
        <% @board.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :image %>
    <%= form.file_field :image, value: form.object.image.signed_id if @board.image.attached? %>
    .jpg .gif .png .mp4 .doc .docx .ppt .pptx .xls .xlsx .pdf
  </p>
  <p>
    <%= form.label :resolution %>
    <%= form.text_field :resolution %>
    Ex: 1920x1080
  </p>
  <p>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
