<%= render 'shared/header' %>
<p><input id="gfg" type="text" placeholder="Search here"></p>
<% @boards.each do |board| %>
<div id="geeks"> 
<div class="card" style=" width: 32rem; height:44rem;">
<div style="display: none;"><%= board.image.content_type %></div>
<% case board.image.content_type
  when /image*/ %>
    <%= image_tag((board.image.representation(resize_to_limit: [300, 300]) if board.image.representable?),  :class => "card-img-top") %>
  <% when /video*/ %>
    <% if board.image.representable? %>
      <%= video_tag(url_for(board.image), class:"card-img-top") %>
    <% end %>
  <% when /application*/ %>
    <% if board.image.representable? %>
      <%= image_tag(board.image.blob.representation(resize_to_limit:[300, 300]), :class => "card-img-top") %>
    <% end %>
  <% else %>
    <%= board.image.content_type %>
    <%= link_to 'Back', boards_path %>
<% end %>


  <div class="card-body">
    <h2 class="card-title" style="overflow:auto; white-space:nowrap;"><%= board.name %></h2>
    <%= link_to 'Full Screen', "http://#{ENV['HOSTNAME']}/users/#{current_user.id}/boards/#{board.slug}", :class => "btn btn-primary btn-sm" %>
    <%# link_to 'Full Screen', board_path(board), :class => "btn btn-primary btn-sm" %>
    <%= link_to 'Edit', edit_board_path(board), :class => "btn btn-secondary btn-sm" %>
    <%= link_to 'Download', rails_blob_path(board.image, disposition: "attachment"), :class => "btn btn-secondary btn-sm" %>
    <%= link_to 'X', board_path(board), method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-danger btn-sm" %><br><br>
    <pre class="code" id="code" style="overflow: auto; width: auto;"><%= "http://#{ENV['HOSTNAME']}/users/#{current_user.id}/boards/#{board.slug}" %></pre>
    <button onclick="copyToClipboard('#code')">Copy</button>
  </div>
</div>
</div>
<% end %>
<script>
function copyToClipboard(element) {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val($(element).text()).select();
    document.execCommand("copy");
    $temp.remove();
}
</script>
<script> 
            $(document).ready(function() { 
                $("#gfg").on("keyup", function() { 
                    var value = $(this).val().toLowerCase(); 
                    $("#geeks .card").filter(function() { 
                        $(this).toggle($(this).text() 
                        .toLowerCase().indexOf(value) > -1) 
                    }); 
                }); 
            }); 
</script> 
