<%= render 'shared/header' %>
<% @boards.each do |board| %>
<div class="card" style=" width: 32rem; height:44rem;">
<div style="display: none;"><%= board.image.content_type %></div>
<% case board.image.content_type
  when /image*/ %>
    <%= image_tag((board.image.variant(resize: "300x300") if board.image.attached?),  :class => "card-img-top") %>
  <% when /video*/ %>
    <% if board.image %>
      <%= video_tag((url_for(board.image) if board.image.attached?), class:"card-img-top") %>
    <% end %>
  <% when /application*/ %>
    <% if board.image %>
      <%= image_tag((board.image.blob.preview(resize: "300X300") if board.image.blob.previewable?), :class => "card-img-top") %>
    <% end %>
  <% else %>
    <%= board.image.content_type %>
    <%= link_to 'Back', boards_path %>
<% end %>


  <div class="card-body">
    <h2 class="card-title" style="overflow:auto; white-space:nowrap;"><%= board.name %></h2>
    <%= link_to 'Full Screen', "http://pictureinapi.com/users/#{current_user.id}/boards/#{board.slug}", :class => "btn btn-primary btn-sm" %>
    <%= link_to 'Edit', edit_board_path(board), :class => "btn btn-secondary btn-sm" %>
    <%= link_to 'Download', rails_blob_path(board.image, disposition: "attachment"), :class => "btn btn-secondary btn-sm" %>
    <%= link_to 'X', board_path(board), method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-danger btn-sm" %><br><br>
    <pre class="code" style="overflow: auto; width: auto;"><%= "http://pictureinapi.com/users/#{current_user.id}/boards/#{board.slug}" %></pre>
  </div>
</div>
<% end %>
