<%= render 'shared/header' %>
<p><%= link_to 'New VBoard', new_vboard_path %></p>
  <% @vboards.each do |vboard| %>
    <div class="card" style=" width: 32rem; height: 36rem;">
    <%= video_tag(url_for(vboard.video), class:"card-img-top") %>
  <div class="card-body">
    <h5 class="card-title"><%= vboard.name %></h5>
    <%= link_to 'Edit', edit_vboard_path(vboard), :class => "btn btn-primary" %>
    <%= link_to 'Show', vboard_path(vboard), :class => "btn btn-secondary" %>
  </div>
</div>
<% end %>
